<div id="footer" class="mb-5">
    <hr>
    {{ if .Date }}
    <div class="container text-center">
      <small>Published: {{ .Date | time.Format ":date_full" }}</small><br>
    </div>
    {{ end }}
    {{ if ne .Date .Lastmod }}
    <div class="container text-center">
      <small>Edited: {{ .Lastmod | time.Format ":date_full" }}</small>
    </div>
    {{ end }}

    {{ if .Site.Params.socialIcons }}
    <div class="container text-center">
        {{ range $item := .Site.Params.socialIcons }}
            <a href="{{ $item.url }}" class="{{ $item.icon }} fa-1x" title="{{ $item.title }}"></a>
        {{ end }}
    </div>
    {{ end }}
    {{ with .Site.Params.footer }}
        <div class="container text-center">
            <a href="{{ .url | absURL }}" title="{{ .text }}" {{ if .blank }}target="_blank"{{ end }}><small>{{ .text }}</small></a>
        </div>
    {{ end }}
</div>
